html, body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
}
::selection {
    color: black;
    background: #E9F0F9;
}
::-moz-selection {
    color: black;
    background: #E9F0F9;
}
hr {
    margin: 0 auto;
    width: 70%;
}
button.button {
    padding: 15px 35px;
    color: white;
    border: none;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 30px;
    background-color: #FC6600;
    -webkit-box-shadow: 0 0 20px 0 rgba(252, 102, 0, 0.5);
    box-shadow: 0 0 20px 0 rgba(252, 102, 0, 0.5);
    transition: box-shadow 0.15s ease-in-out;
    z-index: 10;
    outline: transparent none;
    cursor: pointer;
    font-weight: bold;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
button.button:hover {
    -webkit-box-shadow: 0 0 24px 3px rgba(252, 102, 0, 0.5);
    box-shadow: 0 0 24px 3px rgba(252, 102, 0, 0.5);
    outline: none;
}
button.button:focus {
    outline: none;
}

a, a:hover, a:visited {
    border: none;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
.underline, a.underline, a.underline:visited {
    text-decoration: none;
    position: relative;
    display: inline-block;
    color: #FC6600;
}
.underline:after, a.underline:after, a.underline:visited:after {
    content: "";
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    background: #FC6600;
    transition: 0.4s;
}
.underline:hover:after, a.underline:hover:after, a.underline:visited:hover:after {
    width: 100%;
}
.is-hidden {
    display: none !important;
}


body > #orientation {
    margin: 15px 0 0;
    width: 80%;
    z-index: 50;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    visibility: hidden;
    display: none;
    font-family: "Roboto Slab", "Roboto", "Arial", serif;
    color: white;
    text-align: center;
    font-size: 20px;
}

.main-container {
    overflow: hidden;
}

#introSection > #introBg, #introSection > #introBg > #bg, #introSection > #introBg > #bgStars {
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0;
    overflow: hidden;
}
#introSection > #introBg > #bg {
    background: #161E39 url("assets/bg_space.svg") center top no-repeat;
    background-size: cover;
}
#introSection > #introBg > #bgStars {
    position: absolute;
    top: 0;
    background: url("assets/bg_stars.svg") repeat-y fixed center top;
    background-size: 100% auto;
}
#introSection > #title {
    position: absolute;
    color: white;
    text-align: center;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 25%);
    z-index: 9;
    overflow: hidden;
    white-space: nowrap;
}
#introSection > #title > h1 {
    margin: 0;
    font-size: 80px;
    font-weight: bold;
    font-family: "Dancing Script", "PT Sans", Helvetica, Arial, sans-serif;
    text-shadow: 5px 5px 5px rgba(211,211,211, 0.15);
}
#introSection > #title > p {
    margin: 0;
    font-size: 40px;
}
#introSection > #title > p > span, #title > p > span > b {
    vertical-align: top;
    font-size: 24px;
}
#introSection > #introBg > .planet.yellow {
    width: 400px;
    top: 2%;
    left: 40px;
    box-shadow: 0 0 20px 0 #F5F133;
}
#introSection > #introBg > .planet.blue {
    width: 550px;
    bottom: -18vh;
    left: 50%;
    margin-left: -40%;
    box-shadow: 0 0 20px 0 #71D1F3;
}
#introSection > #introBg > .planet.earth {
    width: 300px;
    bottom: 22vh;
    right: 18%;
    box-shadow: 0 0 20px 0 #61A5DF;
    z-index: 3;
}
#introSection > #introBg > .planet.red {
    right: -350px;
    top: -350px;
    width: 900px;
    box-shadow: 0 0 20px 0 #F1501D;
}
#introSection > #introBg > #rover {
    margin: 0;
    position: absolute;
    width: 100px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    //transform: rotate(-90deg);
}
#introSection > #introBg > #bgEarth, #introSection > #introBg > #bgTinyStars, #introSection > #introBg > #bgSmallStars {
    position: absolute;
    left: 50%;
}
#introSection > #introBg > #bgEarth {
    transform: translate(-50%, 0);
    width: 150%;
    bottom: -8vw;
    z-index: 10;
}
#introSection > #introBg > #bgTinyStars, #introSection > #introBg > #bgSmallStars {
    width: 9000px;
    margin-left: -4500px;
    bottom: -8600px;
    z-index: 0;
    opacity: 0;
}


@-webkit-keyframes fullRotate {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes fullRotate {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.slowRotate {
    -webkit-animation: fullRotate 500s linear infinite;
    -moz-animation: fullRotate 500s linear infinite;
    -o-animation: fullRotate 500s linear infinite;
    animation: fullRotate 500s linear infinite;
}
.normalRotate {
    -webkit-animation: fullRotate 300s linear infinite;
    -moz-animation: fullRotate 300s linear infinite;
    -o-animation: fullRotate 300s linear infinite;
    animation: fullRotate 300s linear infinite;
}
@-webkit-keyframes floatText {
    from {
        -webkit-transform: translate(3px, 11px);
        -o-transform: translate(3px, 11px);
        transform: translate(3px, 11px);
    }
    50% {
        -webkit-transform: translate(3px, 4px);
        -o-transform: translate(3px, 4px);
        transform: translate(3px, 4px);
    }
    to {
        -webkit-transform: translate(3px, 11px);
        -o-transform: translate(3px, 11px);
        transform: translate(3px, 11px);
    }
}
@keyframes floatText {
    from {
        -ms-transform: translate(3px, 11px);
        -moz-transform: translate(3px, 11px);
        -webkit-transform: translate(3px, 11px);
        -o-transform: translate(3px, 11px);
        transform: translate(3px, 11px);
    }
    50% {
        -ms-transform: translate(3px, 4px);
        -moz-transform: translate(3px, 4px);
        -webkit-transform: translate(3px, 4px);
        -o-transform: translate(3px, 4px);
        transform: translate(3px, 4px);
    }
    to {
        -ms-transform: translate(3px, 11px);
        -moz-transform: translate(3px, 11px);
        -webkit-transform: translate(3px, 11px);
        -o-transform: translate(3px, 11px);
        transform: translate(3px, 11px);
    }
}
.floatText {
    -webkit-animation: floatText 3.5s ease-in-out infinite;
    -moz-animation: floatText 3.5s ease-in-out infinite;
    -o-animation: floatText 3.5s ease-in-out infinite;
    animation: floatText 3.5s ease-in-out infinite;
}



.textSection {
    text-align: center;
    margin: 40px auto 0;
}
.textSection h2 {
    font-family: "Roboto Slab", "Roboto", "PT Sans", Helvetica, Arial, serif;
    color: #0a0a0a;
    font-size: 40px;
    font-weight: 700;
}
/*.textSection h2, */.textSection h4 {
    font-family: "Roboto", "PT Sans", Helvetica, Arial, serif;
    font-weight: 300;
    color: #3a3a3a;
    font-size: 20px;
}
.textSection h4 { color: #999999; }

.textSection > #webFeatures { min-width: 250px; }
.textSection > #webFeatures > h2 {
    margin-bottom: 20px;
}
.textSection > #webFeatures .col-md-4 {
    margin: 30px 0 10px;
}
.textSection > #webFeatures img { max-width: 350px; }
.textSection > #webFeatures h3 {
    margin: 25px 0 20px;
    font-family: "Roboto Slab", "Roboto", "PT Sans", Helvetica, Arial, serif;
    color: #2cc9dc;
    font-size: 25px;
    font-weight: normal;
    text-shadow: 0 6px 8px rgba(44,201,220,0.12);
}

.spaceSeparator {
    position: relative;
    width: 100%;
    margin: 7vh 0;
    padding: 5vh 0;
    background: #161E39;
    color: white;
    display: flex;
    align-items: center;
}
.spaceSeparator > .bg {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.spaceSeparator * {
    text-align: center;
}
.spaceSeparator#needWeb {
    background: #161E39 url("assets/bg_stars_landscape.svg") center top no-repeat;
    background-size: cover;
}
#needWeb > .text {
    z-index: 4;
    margin: 0 auto;
    text-align: center;
    width: 40%;
}
.spaceSeparator h2 {
    font-family: "Roboto Slab", "Roboto", "PT Sans", Helvetica, Arial, serif;
    font-weight: 700;
    font-size: 35px;
}
.spaceSeparator h2 b { font-size: 40px; }
.spaceSeparator p, .spaceSeparator h3 {
    font-family: "Roboto", "PT Sans", Helvetica, Arial, serif;
}
.spaceSeparator p { font-weight: 300; font-size: 20px; margin-bottom: 50px; }
.spaceSeparator h3 { font-size: 25px; font-weight: 400; margin-bottom: 25px; }

.spaceSeparator#needWeb h2 { margin-bottom: 20px; }
#needWeb > .bg > .planet.beige {
    box-shadow: 0 0 20px 0 #F7DF95;
    width: 400px;
    top: -65px;
    left: 50px;
}
#needWeb > .bg > .planet.pink {
    box-shadow: 0 0 20px 0 #CD3594;
    width: 280px;
    top: -5px;
    right: 100px;
}
#needWeb > .bg > .satellite {
    z-index: 3;
    position: absolute;
    width: 350px;
    bottom: 50px;
    right: 225px;
}

#quote { margin: 80px auto; }
#quote h1 { text-align: left; }
#quote h2 {
    font-family: "Roboto Slab", "Roboto", "PT Sans", Helvetica, Arial, serif;
    color: #333;
    font-size: 32px;
    text-align: right;
    margin-top: -30px;
}

#about {
    position: relative;
    margin: 0;
    padding: 0;
}
#about > .textSection {
    padding-top: 150px;
    position: relative;
}
#about > .textSection > .text {
    position: relative;
    width: 700px;
    left: 50%;
    transform: translateX(-90%);
    background: white;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 7px 40px rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 7px 40px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 7px 40px rgba(0, 0, 0, .05);
    text-align: left;
    padding: 0 15px 10px;
}
#about h1 {
    position: absolute;
    top: -40px;
    left: -55px;
    font-size: 70px;
    white-space: nowrap;
}
#about p {
    font-family: "PT Sans", Roboto, Arial, serif;
    font-size: 20px;
    color: #5b6a6e;
}
#about > .bg  {
    position: absolute;
    width: 900px;
    bottom: -7vh;
    left: 50%;
    transform: translateX(-10%);
}
#about > .bg > .astronaut {
    position: absolute;
    width: 200px;
}
#about > .bg > .astronaut#flag {
    bottom: 0;
    width: 900px;
}
#about > .bg > .astronaut#waving {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    visibility: hidden;
    display: none;
}
#about > .bg > .astronaut#waving-half {
    width: 100px;
    visibility: hidden;
    display: none;
    left: 50%;
    transform: translate(50%, 0);
}

.spaceSeparator#codeP {
    padding: 8vh 0;
}
.spaceSeparator#codeP > .text {
    width: 770px;
    margin: 0 auto;
}
.spaceSeparator#codeP h1 {
    display: table-cell;
    vertical-align: middle;
    align-items: center;
    font-size: 45px;
    text-align: right;
}


#projects {
    margin: 100px auto 0;
    overflow: hidden;
}
#projects > .textSection h1 {
    font-size: 45px;
    margin-bottom: 60px;
    text-align: center;
}
#projects > .content, #projects > .content > .projectWebsite, #projects > .content > .projectWebsite img { position: relative; }
#projects > .content { margin-bottom: 625px; }
#projects > .content.content-separator { height: 250px; }
#projects > .content > .projectWebsite {
    width: 1000px;
    position: absolute;
    top: 0;
}
#projects > .content > .projectWebsite.left { right: 50%; }
#projects > .content > .projectWebsite.right { left: 50%; }
#projects img { overflow: hidden; }
#projects > .content > .projectWebsite > .browser {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
#projects > .content > .projectWebsite > .browser .frame {
    width: 100%;
    z-index: 2;
}
#projects > .content > .projectWebsite > .browser .website {
    position: absolute;
    width: 100%;
    top: 41px;
}
#projects > .content > .projectWebsite.left > .browser .website { left: 0; }
#projects > .content > .projectWebsite.right > .browser .website { right: 0; }
#projects > .content > .projectWebsite > .mobile {
    position: absolute;
    width: 250px;
    z-index: 5;
    bottom: -75px;
    overflow: hidden;
    border-radius: 32px;
}
#projects > .content > .projectWebsite.left > .mobile { right: -50px; }
#projects > .content > .projectWebsite.right > .mobile { left: -50px; }
#projects > .content > .projectWebsite > .mobile .frame {
    z-index: 6;
    width: 100%;
}
#projects > .content > .projectWebsite > .mobile .website {
    position: absolute;
    width: 100%;
    top: 9px;
}
#projects > .content > .projectWebsite.left > .mobile .website { left: 0; }
#projects > .content > .projectWebsite.right > .mobile .website { right: 0; }
#projects > .content > .text {
    display: inline-block;
    position: relative;
    top: 125px;
    width: 600px;
    z-index: 2;
}
#projects > .content > .text.right { left: calc(50% + 150px); }
#projects > .content > .text.left { position: absolute !important; left: 50%; transform: translate(-110%, 0); text-align: right; padding-right: 40px; }
#projects > .content > .text > * { line-height: 2; }
#projects > .content .glowing-line {
    width: 55px;
    height: 7px;
    margin-bottom: 25px;
    background-color: #FC6600;
    -webkit-box-shadow: 0 2px 8px 3px rgba(252, 102, 0, 0.25);
    box-shadow: 0 2px 8px 3px rgba(252, 102, 0, 0.25);
}
#projects > .content > .text.left .glowing-line { margin-left: 100%; transform: translateX(-100%); }
#projects > .content > .text h3, #projects > .content > .text h4 {
    font-family: "Roboto", "PT Sans", Helvetica, Arial, serif;
    color: black;
}
#projects > .content > .text h3 {
    font-weight: 700;
    font-size: 32px;
}
#projects > .content > .text h4 {
    font-weight: 400;
    line-height: 1.5;
}
#projects > .content > .text h5 {
    color: #5a5a5a;
}
#projects > .content > .text p {}
#projects > .content > .text .mobile-text {
    display: none;
    visibility: hidden;
}
#projects #pomodoro .mobile .website { border-radius: 30px; }
#projects #jupiter-notify .browser .website {
    height: 100%;
    background: url("assets/work_jupiter-notify_1080.png") no-repeat center;
    background-size: auto 100%;
}
#projects #jupiter-notify .mobile .website {
    height: 100%;
    background: url("assets/work_jupiter-notify_mobile.png") no-repeat center;
    background-size: auto 100%;
}

#contact {
    background: #161E39;
    color: white;
    text-align: center;
    padding: 75px 0;
    position: relative;
}
#contact > .text { position: relative; z-index: 10; }
#contact h1 {
    font-family: "Roboto Slab", "Roboto", "PT Sans", Helvetica, Arial, serif;
    font-size: 36px;
    font-weight: 700;
}
#contact h2, #contact h3 {
    font-family: "Roboto", "PT Sans", Helvetica, Arial, serif;
    font-weight: 300;
}
#contact h2 {
    font-size: 20px;
}
#contact h3 {
    font-size: 18px;
}
#contact button.button {
    margin: 50px auto 30px;
    background: none;
    color: #FC6600;
    border: 3px solid #FC6600;
    -webkit-border-radius: 36px;
    border-radius: 36px;
    -webkit-box-shadow: 0 2px 30px rgba(252, 102, 0, 0.3);
    box-shadow: 0 2px 30px rgba(252, 102, 0, 0.3);
    text-shadow: 0 1px 30px rgba(252, 102, 0, 0.7);
}
#contact button.button:hover {
    -webkit-box-shadow: 0 2px 40px 3px rgba(252, 102, 0, 0.3);
    box-shadow: 0 2px 40px 3px rgba(252, 102, 0, 0.3);
    text-shadow: 0 5px 22px 3px rgba(252, 102, 0, 0.7);
}
#contact > .text > #copied-text { margin-bottom: 75px; }
#contact > .text > #contact-info {
    margin-top: 30px;
}
#contact > .text > #contact-info img {
    width: 50px;
    transition: all .2s ease-in-out;
}
#contact > .text > #contact-info img:hover {
    transform: scale(1.1);
}
#contact > .text > #contact-info :not(:first-child) { margin-left: 10px; }
#contact > .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#contact > .bg img { position: absolute; }
#contact > .bg > #smoke {
    /*
    width: 1100px;
     */
    width: 55%;
    left: 0;
    bottom: 0;
    z-index: 2;
    overflow: hidden;
}
#contact > .bg > div {
    position: absolute;
    width: 180px;
    /*
    left: 275px;
     */
    left: 15%;
    bottom: 20px;
}
#contact > .bg > div > img { left: 50%; transform: translateX(-50%); }
#contact > .bg > div > #rocket {
    top: calc(100% - 500px);
    width: 100%;
    z-index: 2;
}
#contact > .bg > div > .rocket-smoke {
    bottom: 0;
    /*width: 78px;*/
    width: 42.5%;
}
#contact > .bg > div > .rocket-smoke.small { display: none; }
/*
#contact > .bg > div {
    position: absolute;
    bottom: 25px;
    right: 350px;
    animation: floatText 8s ease-in-out;
    animation-iteration-count: infinite;
}
*/
/*#contact > .bg #ufo {
    width: 250px;
}
#contact > .bg #cow {
    width: 75px;
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    bottom: 125px;
    animation: floatText 3s;
    animation-iteration-count: infinite;
}*/



@media screen and (max-width: 1800px) {
    #introSection > #introBg > .planet.red { width: 800px; top: -300px; right: -300px; }
}
@media screen and (max-width: 1700px) {
    #needWeb > .bg > .planet.beige { left: -70px; }
    #needWeb > .bg > .planet.pink { right: -20px; }
    #needWeb > .bg > .satellite { width: 300px; right: 165px; }
    #about > .bg > .astronaut#flag { width: 750px; }
}
@media screen and (max-width: 1500px) {
    #introSection > #introBg > #bgStars { background-size: cover; }
    #introSection > #introBg > .planet.yellow { width: 325px; top: 75px; }
    #introSection > #introBg > .planet.blue { width: 425px; bottom: -14%; }
    #introSection > #introBg > .planet.earth { width: 289px; bottom: 20vh; right: 12%; }
    #introSection > #introBg > .planet.red { width: 680px; right: -175px; top: -200px; }
    #about > .textSection { padding-top: 125px; }
    #about > .textSection > .text { width: 600px; }
    #about h1 { font-size: 50px; top: -30px; }
    #about p { font-size: 17px; }
    #projects { margin-top: 50px; }
    #projects > .content > .projectWebsite.left { right: 600px; }
    #projects > .content > .projectWebsite.right { left: 600px; }
    #projects > .content > .text { width: 450px; }
    #projects > .content > .text.right { left: calc(100% - 500px); }
    #projects > .content > .text.left { position: relative !important; left: 75px !important; transform: translate(0, 0) !important; }
    #contact > .text > #copied-text { margin-bottom: 50px; }
    #contact > .bg > #smoke { width: 700px; }
    #contact > .bg > div { width: 160px; }
}
@media screen and (max-width: 1420px) {
    .spaceSeparator { margin: 6vh 0; padding: 3vh 0; }
    #needWeb h1 { font-size: 25px; }
    #needWeb h1 b { font-size: 32px; }
    #needWeb h2 { font-size: 15px; }
    #needWeb h3 { font-size: 18px; }
    #needWeb button { font-size: 15px; }
}
@media screen and (max-width: 1400px) {
    #introSection > #introBg > .planet.earth { bottom: 18vh; right: 10%; }
    #needWeb > .bg > .satellite { width: 250px; right: 120px; }
    #quote { margin: 65px auto; }
    #about > .bg > .astronaut#flag { width: 700px; transform: translateX(5%); }
}
@media screen and (max-width: 1300px) {
    #introSection > #introBg > .planet.blue { width: 383px; bottom: -10%; }
    #introSection > #introBg > .planet.earth { bottom: 18vh; right: 12%; }
    #introSection > #introBg > .planet.red { width: 595px; top: -150px; right: -150px; }
    #about > .textSection > .text { width: 550px; }
    #contact > .bg > #smoke { width: 600px; }
    #contact > .bg > div { width: 150px; }
    #contact > .bg > div > .rocket-smoke { bottom: 50px; }
}
@media screen and (max-width: 1200px) {
    #introSection > #introBg > .planet.yellow { width: 250px; top: 10%; left: 50px; }
    #introSection > #introBg > .planet.earth { width: 255px; bottom: 20vh; right: 8%; }
    #introSection > #introBg > .planet.red { width: 510px; top: -100px; right: -135px; }
    #needWeb > .bg > .planet.beige { width: 300px; }
    #needWeb > .bg > .planet.pink { width: 200px; }
    #needWeb > .bg > .satellite { width: 225px; right: 100px; }
    #needWeb > .text { width: 50%; }
    #about > .textSection { padding-top: 100px; }
    #about > .bg > .astronaut#flag { width: 600px; }
    #contact > .bg > div > #rocket { top: calc(100% - 400px); }
    #contact > .bg > div > .rocket-smoke.small { display: block; }
    #contact > .bg > div > .rocket-smoke:not(.small) { display: none; }
}
@media screen and (max-width: 1150px) {
    #needWeb > .bg > .satellite { width: 175px; right: 50px; }
    #about h1 { left: -35px; }
}
@media screen and (max-width: 1100px) {
    #introSection > #introBg > .planet.earth { right: 5%; bottom: 22vh; }
    #quote { width: 800px; }
    #quote { margin: 55px auto; }
    #quote h1 { font-size: 33px; }
    #quote h2 { font-size: 28px; }
    #about > .textSection .text { transform: translateX(-70%); }
    #about > .bg { transform: translateX(-50%); }
    #about > .bg > .astronaut#flag { visibility: hidden; display: none; }
    #about > .bg > .astronaut#waving {
        visibility: visible; display: inline;
        top: auto; left: auto; right: 0; bottom: -6px;
        transform: translate(0, 0);
    }
}
@media screen and (max-width: 991px) {
    #quote h2 { margin: -20px -40px 0 0; }
}
@media screen and (max-width: 990px) {
    #introSection > #title { transform: translate(-50%, 35%); }
    #introSection > #introBg > .planet.yellow { width: 220px }
    #introSection > #introBg > .planet.blue { width: 368px; bottom: -15%; margin-left: 0; left: 100px; right: auto; }
    #introSection > #introBg > .planet.earth { width: 245px; bottom: 18vh; right: 0; left: 65%; }
    #introSection > #introBg > .planet.red { width: 560px; top: -200px; right: -175px; }
    #needWeb h2 { margin-bottom: 20px; }
    #needWeb h3 { margin-bottom: 10px; }
    #about > .textSection { padding-top: 50px; }
    #about h1 { font-size: 40px; left: -20px; top: -20px; }
    #about p { font-size: 15px; }
    #about > .bg { transform: translateX(-55%); }
    #about > .bg > .astronaut#waving { width: 250px; }
    #projects > .content { margin-bottom: 700px; }
    #projects > .content.content-separator { margin-bottom: 450px; }
    #projects > .content > .projectWebsite { width: 750px; }
    #projects > .content > .projectWebsite.left { right: 500px; }
    #projects > .content > .projectWebsite.right { left: 500px; }
    #projects > .content > .projectWebsite > .browser .website { top: 31px; }
    #projects > .content > .projectWebsite > .mobile { width: 200px; border-radius: 25px; }
    #projects > .content > .text { width: 400px; position: absolute; }
    #projects > .content > .text.right { left: auto; right: 25px; }
    #projects > .content > .text.left { right: auto; left: 25px; width: 380px; }
    #projects #pomodoro .mobile .website { top: 0; }
    #contact > .bg > #smoke { left: auto; right: 375px; }
    #contact > .bg > div { left: 75px; }
}
@media screen and (max-width: 900px) {
    .underline:after, a.underline:after, a.underline:visited:after { height: 3px; }
    #introSection > #introBg > .planet.blue { width: 333px; bottom: -12%; }
    #introSection > #introBg > .planet.red { width: 500px; top: -150px; }
    #needWeb > .bg > .planet.beige { width: 225px; }
    #needWeb > .bg > .planet.pink { width: 150px; }
    #about > .textSection > .text { transform: translateX(-62%); }
    #about > .bg { transform: translateX(-58%); }
    #about > .bg > .astronaut#waving { width: 220px; }
    .spaceSeparator#codeP { padding: 5vh 0; }
    .spaceSeparator#codeP > .text { width: 600px; }
    .spaceSeparator#codeP h1 { font-size: 35px; }
    #contact > .bg > #smoke { right: auto; left: -100px; }
    #contact > .bg > div { width: 140px; }
    #contact > .bg > div > #rocket { top: calc(100% - 350px); }
}
@media screen and (max-width: 850px) {
    #needWeb h1 { font-size: 18px; }
    #needWeb h1 b { font-size: 25px; }
    #needWeb h2 { font-size: 10px; }
    #needWeb h3 { font-size: 12px; }
    #needWeb button { font-size: 10px; padding: 7px 15px; }
    #projects > .content:not(.content-separator) { margin-bottom: 625px; }
}
@media screen and (max-width: 800px) {
    #introSection > #introBg > .planet.blue { left: 70px; }
    #needWeb > .bg > .planet.beige { width: 190px; left: -50px; }
    #needWeb > .bg > .planet.pink { width: 170px; right: -60px; }
    #needWeb > .bg > .satellite { width: 155px; right: 20px; }
    #quote { margin: 45px auto; width: 500px; }
    #quote h1 { font-size: 22px; }
    #quote h2 { font-size: 20px; margin-top: -25px; }
    #about > .textSection > .text { width: 80%; left: 50%; transform: translate(-50%, 0); }
    #about h1 { font-size: 50px; }
    #about p { font-size: 17px; }
    #about > .bg > .astronaut#waving { visibility: hidden; display: none; }
    #about > .bg { bottom: auto; top: 95px; transform: translateX(-70%); }
    #about > .bg > .astronaut#waving-half {
        visibility: visible; display: inline;
        top: auto; left: auto; bottom: 0; right: 0;
        transform: translate(0, 0);
    }
    #projects { margin: 80px auto 0; }
    #projects > .textSection h1 { font-size: 38px; }
    #projects > .content > .text { top: 100px; }
    #projects > .content > .text > * { line-height: 1.8; }
    #projects > .content > .text h3 { font-size: 26px; }
    #projects > .content > .text h4 { font-size: 18px; }
    #projects > .content > .text h5 { font-size: 20px; }
    #contact > .bg > div { left: 40px; }
}
@media screen and (max-width: 740px) {
    #projects > .content.content-separator { margin-bottom: 340px; }
    #projects > .content > .projectWebsite { width: 650px; }
    #projects > .content > .projectWebsite.left { right: 400px; }
    #projects > .content > .projectWebsite.right { left: 400px; }
    #projects > .content > .projectWebsite > .browser .website { top: 27px; }
    #projects > .content > .text h5, #projects > .content > .text h4 { display: none; visibility: hidden; }
    #projects > .content > .text .mobile-text { display: block; visibility: visible; }
    #projects > .content > .projectWebsite > .mobile { width: 150px; border-radius: 18px; }
    #projects > .content > .projectWebsite.left > .mobile { right: -75px; }
    #projects > .content > .projectWebsite.right > .mobile { left: -75px; }
    #projects > .content > .text { width: 400px; position: absolute; top: 50px; }
    #projects > .content > .text.right { left: auto; right: -50px; }
    #projects > .content > .text.left { left: 25px !important; }
    #contact > .bg > div { left: 25px; }
}
@media screen and (max-width: 700px) {
    #introSection > #introBg > .planet.yellow { width: 180px; top: 14%; left: auto; right: 450px; }
    #introSection > #introBg > .planet.blue { width: 280px; bottom: -6%; left: 30px; }
    .textSection > #webFeatures h1 { font-size: 32px; }
    .spaceSeparator#codeP { padding: 4vh 0; }
    .spaceSeparator#codeP > .text { width: 480px; }
    .spaceSeparator#codeP h1 { font-size: 28px; }
    #contact { padding: 60px 0; }
    #contact h1 { font-size: 28px; }
    #contact h2 { font-size: 17px; }
    #contact h3 { font-size: 15px; }
    #contact button.button { font-size: 18px; padding: 12px 28px; margin: 40px auto 25px; }
    #contact > .text > #copied-text { margin-bottom: 35px; }
    #contact > .text > #contact-info { margin-top: 20px; }
    #contact > .text > #contact-info img { width: 40px; }
    #contact > .bg > #smoke { width: 500px; }
    #contact > .bg > div { width: 125px; }
    #contact > .bg > div > #rocket { top: calc(100% - 300px); }
}
@media screen and (max-width: 620px) {
    #contact > .bg > div { width: 110px; }
    #contact > .bg > div > #rocket { top: calc(100% - 250px); }
}
@media screen and (max-width: 600px) {
    #introSection > #introBg > .planet.yellow { width: 150px; top: 16%; right: 350px; }
    #introSection > #introBg > .planet.blue { width: 275px; left: 20px; }
    #introSection > #introBg > .planet.earth { width: 200px; right: 120px; }
    #introSection > #introBg > .planet.red { width: 400px; top: -90px; right: -125px; }
    #needWeb > .bg > .satellite { visibility: hidden; display: none; }
    #needWeb h2 { visibility: hidden; display: none; }
    #needWeb h1 { font-size: 20px; }
    #needWeb h3 { font-size: 14px; }
    #needWeb button { font-size: 12px; }
    #needWeb > .bg > .planet.beige { width: 160px; left: -55px; }
    #needWeb > .bg > .planet.pink { width: 135px; right: -55px; }
    #quote { margin: -15px auto 30px; width: 400px; }
    #quote h1 { font-size: 15px; }
    #quote h2 { font-size: 13px; margin: -15px 20px 0 0; }
    #about h1 { font-size: 30px; left: 0; top: -10px; }
    #about p { font-size: 12px; }
    #about > .bg { width: 100%; height: 100%; transform: translateX(-70%); right: 10px; }
    #about > .bg > .astronaut#waving-half { width: 75px; bottom: auto; top: 0; transform: translate(50%, -115%); }
    #projects { margin: 50px auto 0; }
    #projects > .textSection h1 { font-size: 34px; }
    #contact > .bg > div { left: 15px; }
}
@media screen and (max-width: 550px) {
    .textSection > #webFeatures { width: 80%; margin: 0 auto; }
    #projects > .textSection h1 { margin-bottom: 40px; }
    #projects > .content { text-align: center; }
    #projects > .content:not(.content-separator) { margin-bottom: 220px; }
    #projects > .content.content-separator { margin-bottom: 100px; }
    #projects > .content > .projectWebsite { width: 300px; }
    #projects > .content > .projectWebsite.left { right: 40px; }
    #projects > .content > .projectWebsite.right { left: 40px; }
    #projects > .content > .projectWebsite > .browser .website { top: 12px; }
    #projects > .content > .projectWebsite > .mobile { display: none; visibility: hidden; }
    #projects > .content > .text { position: relative; right: auto !important; text-align: left; top: 140px !important; }
    #projects > .content > .text.left { text-align: right; left: auto !important; padding: 0; }
    #projects > .content > .text.left h3 { width: 120px; line-height: 1; margin-left: calc(100% - 120px); }
    #projects > .content > .text h3 { font-size: 23px; }
    #projects > .content > .text h4 { font-size: 15px; }
    #projects > .content > .text h5 { font-size: 18px; }
    #contact { padding: 40px 0; }
    #contact h1 { font-size: 25px; }
    #contact h2 { font-size: 15px; }
    #contact h3 { font-size: 13px; }
    #contact button.button { font-size: 16px; padding: 10px 24px; margin: 30px auto 20px; }
    #contact > .text > #copied-text { margin-bottom: 20px; }
    #contact > .text > #contact-info { margin-top: 15px; }
    #contact > .text > #contact-info img { width: 30px; }
    #contact > .text > #contact-info :not(:first-child) { margin-left: 2px; }
    #contact > .bg > #smoke, #contact > .bg > div { visibility: hidden; }
}
@media screen and (max-width: 500px) {
    .underline:after, a.underline:after, a.underline:visited:after { height: 2px; }
    #introSection > #title > h1 { font-size: 49px; }
    #introSection > #title > p { font-size: 24px; margin-bottom: 8px; }
    #introSection > #title > p > span, #title > p > span > b { font-size: 16px; }
    #introSection > #title button { padding: 9px 15px; font-size: 14px; border-radius: 20px; }
    #introSection > #introBg > .planet.blue { width: 220px; bottom: -4%; }
    #introSection > #introBg > .planet.red { right: -190px; }
    body > #orientation { font-size: 15px }
    #needWeb > .bg > .planet { visibility: hidden; display: none; }
    #needWeb > .text { margin: 2vh auto; width: 80%; }
    .spaceSeparator#codeP { padding: 3vh 0; }
    .spaceSeparator#codeP > .text { width: 380px; }
    .spaceSeparator#codeP h1 { font-size: 22px; }
    #projects > .content > .projectWebsite { width: 250px; }
    #projects > .content > .text { width: 350px; top: 100px !important; }
}
@media screen and (max-width: 440px) {
    #about { width: 100%; }
    #about > .textSection { padding-top: 10px; }
    #about > .bg > .astronaut#waving-half { visibility: hidden; display: none; }
    #about h1 { font-size: 33px; top: -15px; left: 50%; transform: translateX(-50%); text-align: center; }
    .spaceSeparator#codeP { padding: 2vh 0; }
    .spaceSeparator#codeP > .text { width: 290px; }
    .spaceSeparator#codeP h1 { font-size: 17px; }
    #projects > .textSection h1 { margin-bottom: 40px; }
    #projects > .content > .text .mobile-text > span { display: none !important; visibility: hidden; }
    #projects > .content > .text { width: 250px !important; position: relative; top: 0 !important; right: auto !important; }
    #projects > .content > .text.left { left: auto !important; }
    #projects > .content > .text.left h3 { width: 100%; margin-left: 0; }
    #projects > .content > .text > * { line-height: 1; }
    #projects > .content > .projectWebsite { right: auto !important; left: 50% !important; transform: translate(-50%, 0); top: 100px; }
}
@media screen and (max-width: 400px) {
    #introSection > #introBg > .planet.yellow { visibility: hidden; display: none; }
    #introSection > #introBg > .planet.blue { width: 300px; bottom: -6vh; left: 50%; transform: translate(-50%, 0); }
    #introSection > #introBg > .planet.earth { visibility: hidden; display: none; }
    .textSection > #webFeatures { width: 90%; }
    #introSection > #introBg > .planet.red { width: 400px; top: -75px; right: 0; left: 75px; }
    .spaceSeparator { margin: 1vh 0; padding: 1vh 0; }
    #needWeb h1 { margin-bottom: 10px; }
    #needWeb h2 { margin-bottom: 5px; }
    #needWeb h3 { margin-bottom: 5px; }
    #quote { width: 300px; margin-top: 35px; }
    #quote h1 { font-size: 11px; }
    #quote h2 { font-size: 9px; margin-top: -15px; }
    #about h1 { left: 50%; transform: translate(-50%, 0); }
    .spaceSeparator#codeP { margin-top: 4vh; }
}
@media screen and (max-width: 350px) {
    #contact { padding: 30px 0; }
    #contact h1 { font-size: 22px; }
    #contact h2 { font-size: 13px; }
    #contact h3 { font-size: 11px; }
    #contact button.button { font-size: 14px; padding: 8px 20px; margin: 25px auto 15px; }
    #contact > .text > #copied-text { margin-bottom: 20px; }
    #contact > .text > #contact-info { margin-top: 10px; }
}
@media screen and (max-width: 325px) {
    .underline:after, a.underline:after, a.underline:visited:after { height: 1px; }
    #introSection > #title > h1 { font-size: 30px; margin-bottom: 10px; }
    #introSection > #title > p { font-size: 16px; margin-bottom: 8px; }
    #introSection > #title > p > span, #title > p > span > b { font-size: 12px; }
    #introSection > #title button { padding: 9px 15px; font-size: 14px; border-radius: 20px; }
    body > #orientation { font-size: 12px; }
    #needWeb h3 { visibility: hidden; display: none; }
    #needWeb h1 { font-size: 14px; }
    #needWeb h1 b { font-size: 17px; }
    #needWeb button { font-size: 8px; }
    #quote { margin: 25px auto; width: 225px; }
    #quote h1 { font-size: 8px; }
    #quote h2 { font-size: 7px; margin-top: -13px; }
    #about h1 { font-size: 28px; top: -8px; }
    .spaceSeparator#codeP > .text { padding: 0 10vw; }
    .spaceSeparator#codeP h1 { text-align: right; font-size: 14px; }
}
@media screen and (max-width: 275px) {
    #about h1 { font-size: 25px; top: -10px; }
    .spaceSeparator#codeP h1 { font-size: 13px; }
    /*#projects > .content .text.left { width: auto !important; min-width: min-content; }*/
}
@media screen and (max-width: 267px) {
    #projects > .content > .projectWebsite { transform: translate(0, 0); left: 0 !important; }
}
@media screen and (max-width: 900px) and (max-height: 500px) {
    #introSection > #introBg > .planet.yellow { right: 400px; top: 10%; }
    #introSection > #introBg > .planet.blue { width: 300px; top: 200px; right: 200px; left: 0; bottom: 0; }
    #introSection > #introBg > .planet.red { visibility: hidden; display: none; }
}
@media screen and (max-height: 400px) {
    #introSection > #introBg > .planet { visibility: hidden; display: none; }
    #introSection > #title > h1 { font-size: 49px; margin-bottom: 0; }
    #introSection > #title > p { font-size: 24px; margin-bottom: 8px; }
    #introSection > #title > p > span, #title > p > span > b { font-size: 16px; }
    #introSection > #title button { padding: 9px 15px; font-size: 14px; border-radius: 20px; }
}
@media screen and (max-height: 400px) and (max-width: 325px) {
    #introSection > #title > h1 { font-size: 30px; margin-bottom: 10px; }
    #introSection > #title > p { font-size: 16px; margin-bottom: 8px; }
    #introSection > #title > p > span, #title > p > span > b { font-size: 12px; }
    #introSection > #title button { padding: 9px 15px; font-size: 14px; border-radius: 20px; }
}

@media screen and (min-width: 2500px) {
    #introSection > #introBg > #bgSmallStars { visibility: hidden; display: none; }
    #introSection > #introBg > #bgTinyStars { visibility: hidden; display: none; }
}
@media screen and (orientation: portrait) {
    #introSection > #introBg > .planet { visibility: hidden; display: none; }
    #introSection > #introBg > #bgSmallStars { visibility: hidden; display: none; }
    #introSection > #introBg > #bgTinyStars { visibility: hidden; display: none; }
    #introSection > #introBg > #bgEarth { bottom: -2%; max-width: 1500px; }
    #introSection > #title { width: 80%; }
    body > #orientation { visibility: visible; display: inline; }
}
@media screen and (orientation: portrait) and (max-height: 300px) {
    body > #orientation { visibility: hidden; display: none; }
}